/* Aquí definimos las Custom properties */
:root{
    --negro         : #000000;
    --blanco        : #ffffff;
    --gris-text     : #858585;
    --gris-footer   : #fdfdfd;
    --gris-borde    : #eaeaea;

    /* Tipografía */
    --tipo-principal  : 'Roboto', Arial, Helvetica, sans-serif;
    --tipo-secundario : 'Playfair Display', serif;
}